{% extends "base.html" %}

{% block main %}
	<div class="pagination">
           <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
        {% endif %}
           </span>
       </div>
       <div class="posts list">
	{% for post in posts %}
	  <div class="post">{{ post.author.username }}<br>{{post.title}} <a href="{% url 'question' post.id %}">More</a></div>
        {% endfor %}
       </div>
{% endblock %}
